{% load static %}

<html>
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'mainapp/favicon.ico' %}" />

        <style>
            #mapid { height: 600px; }
            .container{
                margin-top: 20px;   
            }
            .center {
                display: table-cell;
                vertical-align: middle;
            }
            #header{
                margin-bottom: 20px;
                font-size: 50px;
                font-weight: bold;
            }
        </style>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h2 id="header"class="h2">灌溉水質全民監督網</h2>
            </div>
            <div class="row">
                <div id="mapid" class="col-sm-5"></div>
                <div id="chart_div" class="col-sm-7">

                </div>
            </div>
            <div class="row" id="html_table">

            </div>
        </div>



        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129904589-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129904589-1');
        </script>
        
        <script>
            var mymap = L.map('mapid').setView([23.1305, 121.2], 10);
            // http://18.136.213.249:8080/geoserver/taiwan_basic/wms?service=WMS&version=1.1.0&request=GetMap&layers=taiwan_basic:VILLAGE_MOI_1071031&styles=&bbox=118.13797245900003,21.895599675000085,124.56114950000006,26.385278129000085&width=768&height=536&srs=EPSG:3826&format=image%2Fpng
            // http://18.136.213.249:8080/geoserver/nyc/wms?service=WMS&version=1.1.0&request=GetMap&layers=nyc:nyc_roads&styles=&bbox=984018.1663741902,207673.09513056703,991906.4970533887,219622.53973435296&width=506&height=768&srs=EPSG:2908&format=image%2Fpng
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiamVyZW15NDU1NSIsImEiOiJjamt6MjRvdWwwcG93M3ZtdGRkMXJlYjRyIn0.6SQzceRZS8aF6JHXBqFUyA'
            }).addTo(mymap);

                // $("body").css("cursor", "wait")
            $.ajax({
                url: "/mainapp/get_all_coordinates/",
                type: "GET",
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    $(data).each(function(i, v){
                        point = v['location']['coordinates']
                        var marker = L.marker([point[1], point[0]]).addTo(mymap);
                        marker.bindPopup("<b>" + v['point_name'] + "</b><br>" + v['station']).openPopup();
                        // console.log("marker.title", marker.title)                                
                        // console.log("marker.alt", marker.alt)  
                        // marker.on('click', {"point_number":v['point_number']}, get_point_data);
                        marker.on('click', function(){
                            get_point_data(v['point_number'])
                        });


                    })
                }
            });

            // function onMapClick(e) {
            //     alert("You clicked the map at " + e.latlng);
            // }

            // mymap.on('click', onMapClick);


            function get_point_data(point_number){
                $.ajax({
                    url: "/mainapp/get_point_data/" + point_number.toString() + "/",
                    type: "GET",
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        $("#html_table").empty()
                        $("#html_table").append(data['html_table'])
                        
                        var color = ["Red", "Blue", "Yellow", "Green", "Purple", "Orange", "Pink"]
                        $(data['json_table']).each(function(i, row){
                            $("#chart_div").empty()

                            color_count = 0
                            $.each(row, function(key, val){

                                var id =  key + "_canvas"
                                var canvas = $("<canvas>").attr("id", id).attr("width", 500).attr("height", 100)
                                $("#chart_div").append(canvas)
                                var ctx = document.getElementById(id).getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: data['採樣日期'],
                                        datasets: [{
                                            label: key,
                                            data: val,
                                            borderColor:color[color_count],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {}
                                });
                                color_count += 1
                            })
                        })



                    }
                })
            }
            get_point_data(14009031)
        </script>



    </body>
</html>